<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/assets/css/default.css" />
    <link rel="stylesheet" href="/assets/css/sub.css" />
    <link rel="stylesheet" href="/assets/css/enterprise.css" />
    <title>추천대출</title>
  </head>
  <body>
    <!-- header -->
    <header id="header">
      <div class="header-top">
        <div class="container">
          <a href="javascript:;">추천대출 대부중개 ㅇㅇ-2024-15</a>
          <div class="header-util">
            <ul>
              <li><a href="/community/community_intro">커뮤니티</a></li>
              <li><a href="/guide/customer_guide">이용안내</a></li>
              <li><a href="/service/notice_list">고객센터</a></li>
              <li><a href="/introduction/introduce">회사소개</a></li>
              <li><a href="/guide/notandum">주의사항</a></li>
            </ul>
          </div>
        </div>
      </div>
      <nav id="gnb">
        <div class="container">
          <h1 class="logo">
            <a href="/">
              <img src="/assets/images/img_logo.svg" alt="" />
            </a>
          </h1>
          <div class="menu-list">
            <ul>
              <li>
                <a href="/enterprise/area_enterprise"
                  ><span>지역별 업체 <i class="ico-new"></i></span
                ></a>
              </li>
              <li>
                <a href="/enterprise/items_enterprise"
                  ><span>상품별 업체 <i class="ico-new"></i></span
                ></a>
              </li>
              <li>
                <a href="/realtime/real_inquiry"
                  ><span>실시간 대출문의 <i class="ico-new"></i></span
                ></a>
              </li>
            </ul>
          </div>
          <div class="btns">
            <a href="/member/join">회원가입</a>
            <a href="/service/advertising_inquiry">광고문의</a>
          </div>
          <div class="btn-area">
            <button type="button" class="btn-nav">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </button>
          </div>
        </div>
      </nav>
    </header>

    <!-- nav -->
    <nav id="nav">
      <div class="container">
        <ul>
          <li>
            <a href="/community/community_intro"><span>커뮤니티</span></a>
          </li>
          <li>
            <a href="/guide/customer_guide"><span>이용안내</span></a>
          </li>
          <li>
            <a href="/service/notice_list"><span>고객센터</span></a>
          </li>
          <li>
            <a href="/introduction/introduce"><span>회사소개</span></a>
          </li>
          <li>
            <a href="/guide/notandum"><span>주의사항</span></a>
          </li>
        </ul>
        <div class="btn-area">
          <a href="/member/join">회원가입</a>
          <a href="/service/advertising_inquiry">광고문의</a>
        </div>
      </div>
    </nav>

    <!-- content -->
    <main id="content">
      <!-- global-search -->
      <div class="global-search">
        <div class="container">
          <div class="search-form">
            <small>전국 최다 대출업체 등록,</small>
            <h3>나에게 딱 맞는 대출업체 찾기</h3>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="검색어를 입력해 주세요"
              />
              <button type="button" class="btn-search">
                <img src="/assets/images/btn_global_search.png" alt="" />
              </button>
            </div>
            <div class="info">
              <b>Today</b>
              <ul>
                <li>
                  <dl>
                    <dt>오늘 방문자</dt>
                    <dd>1,871</dd>
                  </dl>
                </li>
                <li>
                  <dl>
                    <dt>누적 방문자</dt>
                    <dd>354,664</dd>
                  </dl>
                </li>
                <li>
                  <dl>
                    <dt>실시간 대출문의</dt>
                    <dd>2,310</dd>
                  </dl>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- lately-visit -->
      <section class="lately-visit">
        <div class="container">
          <div class="section-header">
            <h3>최근 본 업체</h3>
          </div>
          <div class="section-content">
            <div class="no-data">
              <p>최근 본 업체가 없습니다.</p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- terms-list -->
    <nav class="terms-list">
      <div class="container">
        <div class="bubble-list">
          <ul>
            <li>
              <div class="chat-bubble">
                <a href="javascript:;" class="btn-bubble">추천대출 대부중개</a>
                <div class="bubble-box">
                  <div>
                    <a href="javascript:;" class="btn-bubble-close">
                      <img src="/assets/images/ico_close.png" alt="" />
                    </a>
                    <dl>
                      <dt>대출 중개 플랫폼, 추천대출</dt>
                      <dd>
                        추천대출은 광고 플랫폼만 제공할 뿐 직접적인 대출 및
                        중개를 하지 않습니다.<br />
                        추천대출은 한국대부금융협회 지자체 정식허가 업체만
                        등록이 가능합니다.<br />
                        추천대출에 기재된 광고 내용은 대부(중개)업체가 제공하는
                        정보로 이를 신뢰하여 취한 조치에 대하여 어떠한 책임을
                        지지 않습니다.<br /><br />
                        과도한 빚은 당신에게 큰 불행을 안겨줄 수 있습니다.
                        중개수수료를 요구하거나 받는 것은 불법입니다. 대출시
                        귀하의 신용 등급 또는 개인신용평점이 하락할 수 있습니다.
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="chat-bubble">
                <a href="javascript:;" class="btn-bubble">금리 및 상환안내</a>
                <div class="bubble-box">
                  <div>
                    <a href="javascript:;" class="btn-bubble-close">
                      <img src="/assets/images/ico_close.png" alt="" />
                    </a>
                    <dl>
                      <dt>금리 및 상환안내</dt>
                      <dd>
                        금리 연20% 이내, 연체이자율 20% 이내 (단, 2021. 7. 7부터
                        체결, 갱신, 연장되는 계약에 한함), 취급수수료 없음,
                        중도상환 수수료 없음, 중개수수료 없음, 추가비용 없음.
                      </dd>
                    </dl>
                    <dl>
                      <dt>상환기간 : 12개월 ~ 60개월</dt>
                      <dd>
                        총 대출 비용 예시 : 100만원을 12개월 기간 동안 최대 금리
                        연20% 적용하여 원리금균등상환방법으로 이용하는 경우 총
                        상환금액 1,111,614원 (단, 대출상품 및 상환방법 등
                        대출계약 내용에 따라 달라질 수 있습니다.) 채무의
                        조기상환수수료율 등 조기상환조건 없음.
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="chat-bubble">
                <a href="javascript:;" class="btn-bubble">고객센터</a>
                <div class="bubble-box">
                  <div>
                    <a href="javascript:;" class="btn-bubble-close">
                      <img src="/assets/images/ico_close.png" alt="" />
                    </a>
                    <dl>
                      <dt>
                        고객센터<br />
                        <a href="tel:1551-7791">1551-7791</a>
                      </dt>
                      <dd>
                        직통번호:
                        <span
                          onclick="window.location.href = 'tel:010-6502-7958'"
                          >010-6502-7958</span
                        ><br />
                        오픈시간09:00-18:00<br />
                        점심시간12:00-13:00<br />
                        (주말 및 공휴일 휴무)
                      </dd>
                    </dl>
                    <a href="/sevice/one_inquiry.html"
                      >1:1문의 바로가기 (24시간 연중무휴)</a
                    >
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="btn-terms">
          <ul>
            <li>
              <a href="/terms/clause">이용약관</a>
            </li>
            <li>
              <a href="/terms/privacy">개인정보처리방침</a>
            </li>
            <li>
              <a href="/terms/privacy">한계와 법적고지</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- quick-banner -->
    <aside class="quick-banner">
      <ul>
        <li>
          <a
            href="https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=0&ie=utf8&query=%EB%8C%80%EC%B6%9C%EC%9D%B4%EC%9E%90%EA%B3%84%EC%82%B0%EA%B8%B0"
            target="_blank"
          >
            <img src="/assets/images/ico_quick01.png" alt="" />
            <span>대출상환금<br />이자 계산기</span>
          </a>
        </li>
        <li>
          <a href="https://www.clfa.or.kr/popup_fcsc.asp" target="_blank">
            <img src="/assets/images/ico_quick02.png" alt="" />
            <span>등록대부업체<br />통합조회</span>
          </a>
        </li>
      </ul>
      <a
        href="https://www.fss.or.kr/fss/main/contents.do?menuNo=200343"
        target="_blank"
      >
        <img src="/assets/images/img_quick03.png" alt="" />
      </a>
    </aside>

    <!-- footer -->
    <footer id="footer">
      <div class="container">
        <h2>추천대출</h2>
        <div class="company-info">
          <ul>
            <li>
              <dl>
                <dt>사이트명</dt>
                <dd>추천대출</dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt>상호명</dt>
                <dd>추천대출 대부중개</dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt>대표자</dt>
                <dd>한상훈</dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt>개인정보책임자</dt>
                <dd>한상훈</dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt>주소</dt>
                <dd>
                  <address>
                    충청북도 청주시 흥덕구 가경로 8-1 태경빌딩 5층 5481호
                  </address>
                </dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt>사업자 등록번호</dt>
                <dd>000-00-00000</dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt>대부업중개업 등록번호</dt>
                <dd>2025-충북청주-0005(대부중개업)</dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt>대부업등록기관</dt>
                <dd><address>청주시청 경제일자리과 043-201-1043</address></dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt>통신판매업 신고</dt>
                <dd>제2024-서울-0555호</dd>
              </dl>
            </li>
          </ul>
        </div>
        <p class="copyright">COPYRIGHT ⓒ 2025.추천대출 ALL RIGHTS RESERVED</p>
      </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/assets/js/common.js"></script>
    <script src="/assets/js/sub.js"></script>
  </body>
</html>
