<footer id="footer">
  <div class="container">
    <h2>추천대출</h2>
    <div class="company-info">
      <ul>
        <li>
          <dl>
            <dt>사이트명</dt>
            <dd>추천대출</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>상호명</dt>
            <dd>추천대출 대부중개</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>대표자</dt>
            <dd>한상훈</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>개인정보책임자</dt>
            <dd>한상훈</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>주소</dt>
            <dd>
              <address>
                충청북도 청주시 흥덕구 가경로 8-1 5층 5481호 (가경동, 태경빌딩)
              </address>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>사업자 등록번호</dt>
            <dd>226-98-62487</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>대부업중개업 등록번호</dt>
            <dd>2025-충북청주-0005</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>대부업등록기관</dt>
            <dd><address>청주 경제일자리과 043-201-1020</address></dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>통신판매업 신고</dt>
            <dd>2025-충북청주-1420호</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>계좌번호</dt>
            <dd>국민은행 945802-00-344388</dd>
          </dl>
        </li>
      </ul>
    </div>
    <p class="copyright">COPYRIGHT ⓒ 2025.추천대출 ALL RIGHTS RESERVED</p>
  </div>
</footer>
