<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
/>
<meta property="og:site_name" content="추천대출" />
<meta
  property="og:url"
  content="<%= meta.url || 'https://xn--vk1bq99biva8a.com' %>"
/>

<meta name="description" content="추천대출" />
<meta property="og:title" content="추천대출" />
<meta property="og:description" content="추천대출" />
<meta
  property="og:image"
  content="https://xn--vk1bq99biva8a.com/assets/images/img_logo.svg"
/>
<meta name="format-detection" content="telephone=no" />
<meta
  name="naver-site-verification"
  content="26ec0c2cabeb757cdfc2e406707ada174a9d4430"
/>
<meta
  name="google-site-verification"
  content="sUdIHy0qAHnhixGwHgQJ4lp_EVAGUcuNNDCN8Fe7Sqo"
/>
<title>추천대출</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
